* {
    all: unset;
    transition: 200ms;
    font-family: "SF Pro Rounded", "Atkinson Hyperlegible";
}

@import "scss/colors.scss";
@import "scss/mixins.scss";
@import "scss/variables.scss";

@import "scss/bar.scss";

tooltip {
    @include tooltip;
}
