* {
    all: unset;
}

.bar>* {
    margin: 0px 10px;
}

.logo, .clock>*, .system {
    background-color: #0c0d0f;
    color: #b0b4bc;
    opacity: 0.85;
    border-radius: 6px;
    padding: 0px 10px;
}

.clock>* {
    transition: padding 200ms;
}

.clock:hover>* {
    padding: 0px 64px;
}
