layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="editor" focus=true {
        pane borderless=true edit="src/main.rs"
    }

    tab name="terminal" split_direction="vertical" {
        pane command="cargo" {
            args "run"
            start_suspended true
        }
        pane size="30%" stacked=true {
            pane command="cargo" {
                args "test"
                start_suspended true
            }
            pane command="zsh" name="lint" {
                args "-c" "cargo clippy && cargo fmt --all -- --check"
                start_suspended true
            }
            pane name="terminal" focus=true
        }
    }

    tab name="crates" split_direction="vertical" {
        pane edit="Cargo.toml"
        pane command="zsh" name="cargo tree" {
            args "-c" "rm Cargo.lock && cargo tree"
            start_suspended true
        }
    }
}
