@import "./config.rasi"

* {
    font: "Atkinson Hyperlegible 16";
}

textbox {
  vertical-align: 0.5;
  horizontal-align: 0.5;
}

listview {
  columns: 12;
  cycle: true;
  dynamic: true;
  layout: vertical;
  flow: horizontal;
  reverse: false;
  fixed-columns: true;
}

element-text {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  color: #ffffff;
}
