.bar {
    margin: 0 12px;

    .widget {
        @include widget($shadow: false);

        .date {
            @include button($flat: true);
            color: $fg;

            .clock {

                &.hour,
                &.minute {
                    font-weight: 600;
                }

                &.ellipsis {
                    margin-top: -0.3rem;
                }
            }
        }
    }
}
